//variable color
$default-color-black: rgba(0, 0, 0, 0.6);
$color-black-0: #000000;
$color-black-1: #151515;
$color-black-2: #222222;
$color-black-3: #161313;
$color-super-black: rgba(1, 1, 14, 0.6);
$color-white-0: white;
$color-blue-0: #6664d4;
$color-blue-1: #337ab7;
$color-blue-2: #a9a8eb;
$color-blue-3: #5c5bc2;
$color-gray-1: rgba(255, 255, 255, 0.6);
$color-gray-2: rgba(255, 255, 255, 0.18);

//variable font weight
$default-font-weight: normal;
$font-weight-bold: bold;
$font-weight-0: 700;

//variable font size
$default-font-size: 16px;
$font-size-0: 18px;
$font-size-1: 24px;
$font-size-2: 36px;
$font-size-3: 40px;
$font-size-4: 62px;
$font-size-5: 56px;
$font-size-sm: 13px;

//variable padding
$padding-0: 0px;
$padding-1: 15px;
$padding-2: 20px;
$padding-3: 30px;
$padding-4: 35px;
$padding-5: 50px;
$padding-6: 100px;
$padding-7: 120px;

//variable margin
$margin-0: 0px;
$margin-1: 8px;
$margin-2: 20px;
$margin-3: 30px;
$margin-4: 45px;
$margin-5: 50px;
$margin-6: 60px;
$margin-7: 120px;

//variable borderRadius
$border-radius-0: 20px;
$border-radius-1: 10px;

//variable lineHeight
$line-height-0: 48px;
$line-height-1: 26px;

// Border
$border-size-0: 1px;
