<<<<<<< HEAD
//variabl color
$default-color-black: rgba(0, 0, 0, 0.6);
$color-blue: #6664d4;
$color-white: white;
$color-black: #222222;
$color-black-1: #151515;
$color-blue-1: #337ab7;
$color-blue-2: #a9a8eb;
$color-blue-3: #5c5bc2;
//variable font weight
$default-font-weight: normal;
$font-weight-bold: bold;
$font-weight-0: 700;
//variable font size
$default-font-size: 16px;
$font-size-0: 18px;
$font-size-1: 24px;
$font-size-2: 62px;
$font-size-3: 40px;
$font-size-4: 21px;
$font-size-5: 36px;
//variable padding
$default-padding: 30px;
$padding-0: 15px;
$padding-1: 11px;
$padding-2: 50px;
$padding-top-bottom: 0px;
$padding-left-right: 40px;
$padding-top-0: 35px;
//variable margin
$margin-rignt-0: 8px;
$margin-0: 20px;
$margin-bottom-0: 45px;
$margin-bottom-1: 60px;
$margin-top-0: 45px;
$margin-top-1: 30px;
$margin-top-2: 60px;

//variable borderRadius
$border-radius-0: 20px;
//variable lineHeight
$line-height-0: 48px;
$line-height-1: 26px;
=======
//Font-size
$font-size-sm:13px;
$font-size-0:16px;
$font-size-1:20px;
$font-size-2:30px;
$font-size-3:40px;
$font-size-4:50px;
$font-size-5:56px;
// Border
$border-size-0:1px;
//background color Footer
$bg-color:#161313;
//margin
$mg-0:10px;
$mg-1:20px;
$mg-2:30px;
$mg-3:40px;
$mg-4:50px;
//padding 
$pd-footer:100px 0 0 0;
$pd-0:15px;
$pd-1:20px;
$pd-2:30px;
$pd-3:40px;
$pd-4:50px;
//Color
$color-blue:#6664d4;
$color-white:#fff;
$color-text:rgba(255,255,255,0.6);
$color-black:#000000;
$color-super-black:rgba(1,1,14,0.6);
//position
$pos-abs:absolute;
$pos-rel:relative;
//display
$dis-bl:block;
$dis-in-bl:inline-block;
>>>>>>> duy
