//variabl color
$default-color-black: rgba(0, 0, 0, 0.6);
$color-blue: #6664d4;
$color-white: white;
$color-black: #222222;
$color-blue-1:#337ab7;
//variable font weight
$default-font-weight: normal;
$font-weight-bold: bold;
//variable font size
$default-font-size: 16px;
$font-size-0: 18px;
//variable padding
$padding-0: 15px;
$padding-1: 11px;
//variable margin
$margin-rignt-0: 8px;
$margin-0: 20px;
