.courseCategory {
  padding: $padding-7 0;
  .row {
    margin: $margin-0;
  }
  &__category {
    h2 {
      @include styleText($color-black-0, $font-size-1 + 5, $font-weight-bold);
      padding: $padding-1 0;
    }
    button {
      &:focus {
        outline: none;
      }
    }
  }
}
