.search {
  padding-top: $padding-7 + 30;
  margin-top: $margin-6;
  text-align: center;
  padding: 80px 0 90px 0;
  position: relative;
  overflow: hidden;
  background: $color-blue-0;
  &:before {
    content: "";
    width: 100%;
    height: 125px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/shape2.png") no-repeat center top;
  }
  &__content {
    margin-top: $margin-6;
    &__title {
      h2 {
        @include styleText($color-white-0, $font-size-2, $font-weight-bold);
        span {
          color: $color-black-2;
        }
      }
      p {
        margin-top: $margin-0 - 5;
        @include styleText(
          $color-white-0,
          $default-font-size,
          $default-font-weight
        );
      }
      margin-bottom: $margin-6;
    }
    &__form {
      width: 59%;
      margin: 0 auto;
      input {
        padding: 0 220px 0 35px;
        @include styleInput(
          100%,
          65px,
          none,
          $color-blue-2,
          $color-blue-3,
          10px,
          none,
          none
        );
        &::placeholder {
          @include styleText($color-blue-2, $font-size-0, $default-font-weight);
        }
        &:focus {
          @include styleInput(
            100%,
            65px,
            none,
            $color-blue-2,
            $color-blue-3,
            10px,
            none,
            none
          );
        }
      }
      button {
        @include styleButton($color-white-0, none, none, none, 10px);
        @include styleText(
          $color-black-2,
          $font-size-0 + 2,
          $font-weight-0 - 100
        );
        transition: all 0.5s;
        &:hover,
        &:focus,
        &:active {
          @include styleHover(
            $color-black-2 !important,
            $color-black-2 !important,
            $color-white-0 !important
          );
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
