.feature {
  padding-top: 120px;
  &__paragraph {
    h2 {
      @include styleText($color-black-1, $font-size-3, $font-weight-0);
      margin-top: $margin-top-0;
    }
    div {
      @include styleText($color-black-1, $font-size-4, $default-font-weight);
      padding: 35px 0 30px 0;
      color: $color-blue;
    }
    p {
      @include styleText($color-black-1, $font-size-0, $default-font-weight);
      line-height: 32px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &__btn {
    @include styleButton(
      $color-blue,
      $color-blue,
      $padding-top-bottom,
      $padding-left-right,
      $border-radius-0
    );
    @include styleText($color-white, $font-size-0, $default-font-weight);
    line-height: $line-height-0;
    transition: all 0.5s;
    margin-top: $margin-top-1;
    &:hover {
      @include styleButton(
        $color-white,
        $color-blue,
        $padding-top-bottom,
        $padding-left-right,
        $border-radius-0
      );
      @include styleText($color-blue, $font-size-0, $default-font-weight);
    }
  }
  &__block {
    margin-top: 125px;
    &:hover {
      .feature__block__wraper__icon svg {
        @include styleHover(none ,none, $color-white);
        transform: translateX(-26px);
      }
      .feature__block__wraper__icon {
        @include styleHover($color-blue, none, none);
      }
      h5 {
        @include styleHover(none, none, $color-blue);
      }
    }
    &__wraper {
      position: relative;
      padding: 25px 0 0 115px;
      &__icon {
        @include styleCircle(85px, 85px, 50%, 85px); 
        background: #dcdada;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s;
        svg {
          font-size: 55px;
          margin-left: 40px;
          display: block;
          transition: all 0.5s;
          margin-top: $margin-0 - 5;
        }
      }
    }
    h5 {
      @include styleText($color-black, $font-size-4 + 1, $font-weight-0);
      transition: all 0.5s;
    }
    p {
      line-height: $line-height-1;
      padding-top: $padding-top-0;
    }
  }
}
