.slider {
  position: relative;
  margin: 0 !important;
  &__bgdark {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__caption {
    width: 50%;
  }
  &__paragraph {
    width: 100%;
    h4 {
      @include styleText($color-white-0, $font-size-1, $font-weight-0);
    }
    h2 {
      @include styleText($color-white-0, $font-size-4, $font-weight-0);
      margin: 22px 0 $margin-4 0;
    }
    p {
      @include styleText($color-white-0, $default-font-size, $font-weight-0);
      margin-bottom: $margin-4;
    }
  }
  &__btn1 {
    color: $color-white-0;
    @include styleButton($color-blue-0, $color-blue-0, 10px, 60px, 10px);
    transition: all 0.5s;
    &:hover {
      color: $color-blue-0;
      @include styleButton($color-white-0, $color-blue-0, 10px, 60px, 10px);
    }
  }
  &__btn2 {
    color: $color-blue-0;
    @include styleButton(transparent, $color-blue-0, 10px, 60px, 10px);
    transition: all 0.5s;
    &:hover {
      color: $color-white-0;
      @include styleButton($color-blue-0, $color-blue-0, 10px, 60px, 10px);
    }
  }
}
