.header {
  padding: $padding-1 0;
  background-color: $color-blue-0;
  &__content {
    p {
      @include styleText(
        $color-white-0,
        $default-font-size,
        $default-font-weight
      );
      .icon {
        margin-right: $margin-1;
      }
      &:hover {
        cursor: pointer;
      }
      a{
        text-decoration: none;
        color:$color-white-0;
      }
    }
  }
}
