.review {
  margin: $margin-7 0;
  background: url("/images/2.jpg") no-repeat center top;
  background-attachment: fixed;
  position: relative;
  &__content {
    text-align: center;
    padding: $padding-5;
    color: black !important;
    font-weight: $font-weight-0 - 200;
    &__paragraph {
      h2 {
        @include styleText($color-white-0, $font-size-2, $font-weight-0);
        padding-bottom: $padding-3 - 5;
      }
      &__icon {
        font-size: $font-size-3 + 10;
        color: $color-blue-0;
        border-top: 2px solid $color-black-1;
        padding-top: $padding-1;
      }
      p {
        padding-top: $padding-4;
        width: 60%;
        margin: 0 auto;
      }
    }
    &__review {
      &__item {
        position: relative;
        padding: $padding-6 $padding-5;
        img {
          border-radius: 50%;
          text-align: center;
          @include stylePosition(absolute, none, none, 25px, 27%, 75px, 75px);
        }
        p {
          position: relative;
          &:first-child {
            border-radius: 10px;
            width: 100%;
            text-align: left;
            background-color: $color-gray-2;
            padding: $padding-5;
            &:after {
              content: "";
              border-top: 9px solid $color-gray-2;
              border-right: 9px solid transparent;
              border-left: 9px solid transparent;
              transform: rotate(0deg);
              @include stylePosition(absolute, 100%, none, none, 30%, 0, 0);
            }
          }
          &:last-child {
            @include stylePosition(absolute, none, none, 25px, 45%, none, none);
          }
        }
      }
    }
  }
  &__bgdark {
    background-color: rgba(0, 0, 0, 0.15);
    @include stylePosition(absolute, 0, none, none, 0, 100%, 100%);
  }
}
