.feature-course{
    margin-top: 120px;
    margin-bottom:60px;
    .feature-block{
        h5{
            font-size: $font-size-1;
            font-weight: 700;
               
            a{
                color: $color-white;
                z-index:9;
                position: $pos-rel;
                text-decoration: none;
            }
            }
        .image{
            position: $pos-rel;
            overflow: hidden;
            .title{
                position: $pos-abs;
                width: 100%;
                text-align: center;
                left: 0;
                bottom: 0;
                padding: 28px 0;
                opacity: 0;
                /* -webkit-transform: translateY(60px); */
                transform: translateY(60px);
                background: rgba(102,100,212,0.8);
                .number{
                    font-family: 'Noto Sans', sans-serif;
                    font-size: $font-size-2;
                    color: $color-white;
                    position: $pos-abs;
                    width: 140px;
                    height: 140px;
                    text-align: center;
                    border-radius: 50%;
                    padding-top: $pd-1;
                    left: 50%;
                    top: -70px;
                    z-index: 1;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    background: linear-gradient(rgba(102,100,212,0.8) 50%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.0) 100%);
                }
            }
        }
        .wrapper{
            margin-top: $mg-4;
            padding-bottom: $pd-2;
            position: $pos-rel;
            padding: 25px 0 0 115px;
            .icon{
                width: 80px;
                height: 80px;
                line-height: 80px;
                border-radius: 50%;
                color: $color-blue;
                background: #dcdada;
                position: $pos-abs;
                top: 0;
                left: 0;
                svg{
                    font-size: $font-size-5;
                    margin-left: $mg-3;
                    margin-top: $mg-0;
                    display: $dis-bl;
                }
            }
            a{
                color: $color-black;
            }
            p{
                padding: 0;
                position: $pos-abs;
                top: 0;
                left: 115px;
                opacity: 0;
                transform: translateY(-10px);
            }
        }
        &:hover{
            .title{
                opacity: 1;
                transform: translateY(0);
                transition: all 0.5s;
            }
            .wrapper{ 
                h5{
                    opacity: 0;
                }
            .icon{
                background: $color-blue;
                color: $color-white;
                 svg{
                margin-left:12px;
                transition: all 0.5s;
            }
        }
        p{
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s;
        }
        }
        }
    }
}