.feature-course {
  margin-top: $margin-7;
  margin-bottom: $margin-6;
  .feature-block {
    h5 {
      font-size: $font-size-1 - 4;
      font-weight: $font-weight-0;

      a {
        color: $color-white-0;
        z-index: 9;
        position: relative;
        text-decoration: none;
      }
    }
    .image {
      position: relative;
      overflow: hidden;
      .title {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 0;
        padding: 28px 0;
        opacity: 0;
        /* -webkit-transform: translateY(60px); */
        transform: translateY(60px);
        background: rgba(102, 100, 212, 0.8);
        .number {
          font-family: "Noto Sans", sans-serif;
          font-size: $font-size-2 - 6;
          color: $color-white-0;
          position: absolute;
          width: 140px;
          height: 140px;
          text-align: center;
          border-radius: 50%;
          padding-top: $padding-2;
          left: 50%;
          top: -70px;
          z-index: 1;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background: linear-gradient(
            rgba(102, 100, 212, 0.8) 50%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 100%
          );
        }
      }
    }
    .wrapper {
      margin-top: $margin-5;
      padding-bottom: $padding-3;
      position: relative;
      padding: 25px 0 0 115px;
      .icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        color: $color-blue-0;
        background: #dcdada;
        position: absolute;
        top: 0;
        left: 0;
        svg {
          font-size: $font-size-5;
          margin-left: $margin-4 - 5;
          margin-top: $margin-1 + 2;
          display: block;
        }
      }
      a {
        color: $color-black-2;
      }
      p {
        padding: 0;
        position: absolute;
        top: 0;
        left: 115px;
        opacity: 0;
        transform: translateY(-10px);
      }
    }
    &:hover {
      .title {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.5s;
      }
      .wrapper {
        h5 {
          opacity: 0;
        }
        .icon {
          background: $color-blue-0;
          color: $color-white-0;
          svg {
            margin-left: 12px;
            transition: all 0.5s;
          }
        }
        p {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.5s;
        }
      }
    }
  }
}
